body{
   padding: 0px; 
   margin: 0px;
}
#h{
text-align: center;
font-family: cursive;
}
.gallery{
    position: relative;
    margin: 0 auto;
    font-size: 20px;
    color: brown;
}

.gallery ul{
    list-style: none;
}
.gallery ul li{
    position: relative;
    float:left;
    margin: 4px 8px;
    overflow: hidden;
}
.gallery ul li img{
    height: 420px;
    width: 412px;
    cursor: pointer;
    transition: all .4s cubic-bezier(0.215,0.610,0.355,1);
}
.gallery ul li:hover img{
    transform:scale(1.1);
    transform:rotate(45deg)
}